<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your post</title>
    <link rel="stylesheet" href="/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Edit Post</h1>
    </header>
    <main>
        <h2>Edit your post</h2>
        <p>Post id: <%= post.id %></p>
        <form method="POST" action="/posts/<%= post.id %>?_method=PATCH">
            <div class="form-group">
                <textarea name="content" class="form-control" rows="5"><%= post.content %></textarea>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn">Submit</button>
            </div>
        </form>
    </main>
</body>
</html>
